body {
    background-color: #ffffff;
}

.ttw-inline {
    text-align:center;
    display:inline-block;
}

#ttw-hud {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: large;
    /*background:  #8bc34a;/*#009688;*/
    padding:3px;
    border-radius: 5px;
    z-index: 1000000000000;
}

.ttw-hud-num {
    font-size: xx-large;
}

#ttw-skip-button {
}

#ttw-stop-button {
}

#ttw-buttons {
    position: relative;
    top: 80px;
    text-align: right;
    padding: 3px;
}

.ttw-hud-text {
    right: 10px;
    color: #3e2723;
    text-align: center;
}

.ttw-stats {
    display: inline-block;
}

.ttw-hud-stat {
    width: 100px;
    text-align: center;
    display: inline-block;
    background: rgba(255,255,255,1);
    color: black;
}
