body {
    /*background-color: #ffffff; */
    text-align:center;
}

.ttw-inline {
    text-align:center;
    display:inline-block;
}

#ttw-hud {
    font-size: large;
    /*background:  #8bc34a;/*#009688;*/
    padding:3px;
    border-radius: 5px;
}

.ttw-hud-num {
    font-size: xx-large;
}

#ttw-skip-button {
}

#ttw-stop-button {
}

#ttw-buttons {
/*    position: relative; */
/*    top: 80px; */
/*    text-align: right; */
/*    padding: 3px; */
}

.ttw-hud-text {
    /*right: 10px;*/
    color: #3e2723;
    text-align: center;
}

.ttw-stats {
    /*display: inline-block;*/
}

.ttw-hud-stat {
    /*width: 100px;*/
    /*text-align: center;*/
    /*display: inline-block; */
    color: black;
}

#errors {
    color: rgba(230, 30, 30, 1);
}

#burst {
    color: rgba(230, 120, 30, 1);
}

#wpm {
    color: rgba(30, 130, 30, 1);
}