.ttw {
    background-color: rgba(240, 220,200); /*#d7ccc8;*/
    color: #757575;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
}

.ttw-typed {
    color: black;
}

#ttw-cursor {
    background-color: #b0bec5;
}

.ttw-correct {
    background-color: #dcedc8;
}

.ttw-wrong {
    background-color: #ef9a9a;
}

.ttw-selected {
    border: dashed #aaaaaa 1px;
}
